<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/logo.css">
    <link rel="stylesheet" href="../css/admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/8e2b436045.js" crossorigin="anonymous"></script>
    <title>SBEC</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a href="#" class="navbar-brand sbec-logo sbec-logo--md">SBEC <span class="sbec-logo__addition">admin</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Call channel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Customer infomations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
            </ul>
            <div class="navbar-nav ml-auto mr-sm-4">
                <div class="nav-item">
                    <div class="dropdown nav-link">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span><i class="far fa-user"></i></span> admin
                        </a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">
                                <span>
                                    <i class="fa fa-user"></i>
                                </span>
                                Profile
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-4 d-flex justify-content-around">
        <div class=" sbec-conversation">
            <div class="sbec-conversation__customer-name">
                <h3>NTNT - Vip member</h3>
            </div>
            <div class="sbec-conversation__accept-reject d-flex justify-content-around mt-5">
                <div class="sbec-conversation__accept 
                        sbec-conversation__accept--shade
                        sbec-conversation__button--border bg-success">
                    <img src="../images/icons/phone.svg" alt="accept">
                </div>
                <div class="sbec-conversation__reject 
                        sbec-conversation__reject--shade
                        sbec-conversation__button--border bg-danger">
                    <img src="../images/icons/cancel.svg" alt="reject">
                </div>
            </div>
            <div class="sbec-conversation__customer-info mt-5">
                <ul>
                    <li><b>Type:</b> VIP</li>
                    <li><b>Total paid products:</b> 10</li>
                </ul>
            </div>
            <div class="sbec-audio-text">
                <p style="max-width: 200px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni voluptas blanditiis fugit esse, deleniti eaque obcaecati ex quam cupiditate delectus, repudiandae ipsum, rerum reiciendis eligendi quae tempora corporis quas. Ex.</p>
            </div>
        </div>
        <div class="sbec-product">
            <h3 class="text-center">Recommend products</h3>
            <div class="sebc-product__recommended mt-5">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        Product 1 (1500$)
                    </li>
                    <li class="list-group-item list-group-item-action">
                        Product 1 (1500$)
                    </li>
                    <li class="list-group-item list-group-item-action">
                        Product 1 (1500$)
                    </li>
                    <li class="list-group-item list-group-item-action">
                        Product 1 (1500$)
                    </li>
                    <li class="list-group-item list-group-item-action">
                        Product 1 (1500$)
                    </li>
                    <li class="list-group-item list-group-item-action">
                        Product 1 (1500$)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>