:root{
    --text-primary-color: #212529;
    --backgroud-product-width: 70%;
}
*{
    box-sizing: border-box;
}
.sbec-consultant-card p{
    margin: 0;
}
.sbec-consultant-card{
    border: 1.5px solid #ccc;
    border-radius: 5px;
    padding: 8px 15px;
    color: var(--text-primary-color)
}
.sbec-consultant-card--active{
    border-color: var(--blue);
}
.sbec-consultant-card__header{
    display: flex;
    justify-content: space-between;
}
.sbec-consultant-card__status--dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
}
.sbec-product-card{
    overflow: hidden;
}
.sbec-product-card--border{
    border: 1px solid #ccc;
    border-radius: 10px;

    padding: 5px
}
.sbec-product-card__image{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.sbec-product-card__image > img{
    width: 100%;
}

.sbec-background-product__ajusting-area{
    width: 80%;
}
.sbec-background-product__result{
    position: relative;
    overflow: hidden;
}
.sbec-background-product__background{
    width: 100%;
}
.sbec-background-product__product{
    width: 200px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}

/* Custom range bar */
.sbec-background-product__ajusting-area{
    position: relative;
}
#y-range{
    width: 0%;
    position: absolute;
    transform: rotate(90deg);
    top: 50%;
    left: -51%;
    z-index: 9;
    transition: width 0.3s;
}
#z-range{
    width: 0px;
    position: absolute;
    transform: rotate(90deg);
    top: 50%;
    right: 50%;
    z-index: 9;
    transition: width 0.3s;
}
#r-range{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
}